<html>
<head>
    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>
</head>
<body>
  <h3>Windows Patch Management</h3>
  <button onclick="runUpdate()">Run Windows Update</button>
  <pre id="output"></pre>

  <script>
    function runUpdate() {
    if (parent && parent.showtab) { try { parent.showtab('pluginWinPatch'); } catch (e) {} }
    parent.meshserver.send({
        action: "plugin",
        plugin: "winpatch",
        pluginaction: "runUpdate",
        nodeId: parent.currentNode._id
    });
    }

    parent.pluginHandler.winpatch = parent.pluginHandler.winpatch || {};
    parent.pluginHandler.winpatch.updateResult = function(msg) {
      try { console.log('winpatch UI updateResult:', msg); } catch (e) {}
      QH('output', (msg && msg.output) ? msg.output : "No output returned");
    };

  </script>
</body>
</html>



